.page-about-us {
    padding-bottom: 0px
}

.section_about {
    padding: 80px 0px
}

.section_about .about-image {
    position: relative;
    text-align: center
}

.section_about .about-image img {
    max-width: 100%;
    border-radius: 5px
}

.section_about .about-image:after {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 7;
    border-radius: 5px;
    background-color: rgba(18, 18, 18, 0.5)
}

.section_about .about-image .block_video_play {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 8;
    border-radius: 5px;
    background-color: var(--mainColor);
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transition: all .3s ease-in-out
}

.section_about .about-image .block_video_play .popup-youtube {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center
}

.section_about .about-image .block_video_play .popup-youtube .video-icon {
    height: 16px;
    display: flex
}

.section_about .about-image .block_video_play .popup-youtube .video-icon svg {
    width: 14px;
    height: 16px
}

.section_about .about-image .block_video_play:hover {
    background-color: var(--mainColor2)
}

.section_about .about-image .video-waves .waves {
    position: absolute;
    top: 50%;
    background: transparent;
    left: 50%;
    width: 25px;
    height: 25px;
    margin-left: -12px;
    margin-top: -12px;
    border-radius: 5px;
    -webkit-backface-visibility: hidden
}

.section_about .about-image .video-waves .waves:before {
    position: absolute;
    background: var(--mainColor);
    margin-left: -12px;
    margin-top: -12px;
    width: 50px;
    height: 50px;
    content: "";
    display: block;
    border-radius: 5px;
    -webkit-backface-visibility: hidden;
    animation: wave-animate 3s infinite ease-out
}

.section_about .about-image .video-waves .waves:after {
    position: absolute;
    background: var(--mainColor);
    margin-left: -12px;
    margin-top: -12px;
    width: 50px;
    height: 50px;
    content: "";
    display: block;
    border-radius: 5px;
    -webkit-backface-visibility: hidden;
    opacity: 0;
    animation: wave-animate 3s 1.5s infinite ease-out
}

@media (max-width: 991px) {
    .section_about .about-image {
        margin-top: 20px
    }
}

.section_about .about-content .top-title {
    color: var(--textColor);
    font-size: 18px;
    font-weight: 300;
    display: block;
    letter-spacing: 3px;
    margin-bottom: 10px;
    text-transform: uppercase
}

.section_about .about-content .title {
    color: var(--textColor);
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 20px
}

.section_about .about-content .desc {
    color: var(--textColor);
    font-size: 16px;
    margin-bottom: 15px;
    line-height: 27px
}

.section_about .about-content .single-about {
    margin-top: 20px;
    margin-bottom: 30px
}

.section_about .about-content .single-about .icon {
    display: block;
    margin-bottom: 25px
}

.section_about .about-content .single-about .icon img {
    height: 50px
}

.section_about .about-content .single-about h3 {
    color: var(--textColor);
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px
}

.section_about .about-content .single-about p {
    color: var(--textColor);
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px
}

.section_about .about-content .single-about .read-more {
    font-weight: 500;
    font-size: 15px;
    color: var(--textColor)
}

.section_about .about-content .single-about .read-more:hover {
    color: var(--mainColor)
}

.section_about .about-content .single-about .read-more:hover svg {
    fill: var(--mainColor)
}

@media (max-width: 991px) {
    .section_about .col-right {
        order: -1
    }
}

.section_statistic {
    padding-bottom: 80px
}

.section_statistic .item {
    display: flex;
    align-items: center;
    gap: 30px
}

.section_statistic .item .icon img {
    max-height: 60px
}

.section_statistic .item .content .counter-number-wrapper {
    color: var(--bgColorButton);
    font-size: 48px;
    font-weight: bold;
    line-height: 1.1em
}

.section_statistic .item .content .static-title {
    color: var(--textColor);
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase
}

@media (max-width: 991px) {
    .section_statistic .item {
        margin-bottom: 20px
    }
}

.section_whychoose {
    padding: 80px 0px
}

.section_whychoose .block-title {
    text-align: left
}

.section_whychoose .block-title p {
    color: var(--textColor);
    font-size: 16px
}

.section_whychoose .whychoose-content .why-box {
    display: table;
    width: 100%;
    position: relative;
    margin-bottom: 20px
}

.section_whychoose .whychoose-content .why-box .box-icon {
    display: table-cell;
    vertical-align: top;
    width: 50px
}

.section_whychoose .whychoose-content .why-box .box-icon img {
    width: 50px
}

.section_whychoose .whychoose-content .why-box .box-content {
    display: table-cell;
    vertical-align: top;
    padding-left: 15px
}

.section_whychoose .whychoose-content .why-box .box-content h3 {
    color: var(--textColor);
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 7px
}

.section_whychoose .whychoose-content .why-box .box-content p {
    color: var(--textColor);
    font-size: 16px
}

.section_whychoose .whychoose-image {
    position: relative
}

.section_whychoose .whychoose-image img {
    max-width: 100%
}

.section_team {
    position: relative;
    padding: 80px 0px;
    background-image: url(background_team2f13.jpg?1715747387472);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}

.section_team .container-fluid {
    padding: 0px 40px
}

@media (max-width: 767px) {
    .section_team .container-fluid {
        padding: 0px 15px
    }
}

.section_team .block-content .swiper-slide {
    padding-bottom: 30px
}

.section_team .team-item {
    position: relative;
    z-index: 1;
    transition: 0.3s;
    padding-bottom: 30px
}

.section_team .team-item .team-image {
    position: relative
}

.section_team .team-item .team-image a {
    position: relative
}

.section_team .team-item .team-image a img {
    max-width: 100%;
    border-radius: 10px 10px 10px 10px
}

.section_team .team-item .team-info {
    padding: 15px;
    background: #fff;
    position: absolute;
    z-index: 1;
    left: 30px;
    bottom: 0px;
    width: calc(100% - 50px);
    border-radius: 5px;
    box-shadow: 6px 5px 16px 0px rgba(0, 0, 0, 0.15);
    transition: 0.5s
}

.section_team .team-item .team-info .name a {
    color: var(--textColor);
    font-size: 20px;
    font-weight: bold
}

@media (max-width: 1199px) {
    .section_team .team-item .team-info .name a {
        font-size: 18px
    }
}

@media (max-width: 767px) {
    .section_team .team-item .team-info .name a {
        font-size: 15px
    }
}

.section_team .team-item .team-info .name a:hover {
    color: var(--mainColor)
}

.section_team .team-item .team-info .department {
    font-size: 14px;
    color: #989898;
    padding-top: 6px;
    text-transform: uppercase
}

@media (max-width: 1199px) {
    .section_team .team-item .team-info .department {
        font-size: 13px
    }
}

@media (max-width: 1199px) {
    .section_team .team-item .team-info {
        left: 15px;
        padding: 10px;
        width: calc(100% - 30px)
    }
}

.section_team .team-item .social {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 15px;
    right: 15px;
    transition: 0.4s;
    pointer-events: none
}

.section_team .team-item .social a {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    pointer-events: auto;
    margin-bottom: 10px;
    box-shadow: 6px 5px 16px 0px rgba(0, 0, 0, 0.15);
    transition-property: all, transform;
    transition-duration: 0.5s;
    opacity: 0;
    transform: translateX(10px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff
}

.section_team .team-item .social a img {
    width: 15px
}

.section_team .team-item .social a:nth-child(2) {
    transition-delay: 0s, 0.1s
}

.section_team .team-item .social a:nth-child(3) {
    transition-delay: 0s, 0.2s
}

.section_team .team-item .social a:nth-child(4) {
    transition-delay: 0s, 0.3s
}

.section_team .team-item .social a:nth-child(5) {
    transition-delay: 0s, 0.4s
}

.section_team .team-item .social a:hover {
    background-color: var(--mainColor)
}

.section_team .team-item .social a:hover img {
    filter: brightness(0) invert(1)
}

.section_team .team-item:hover .team-info {
    bottom: 60px
}

@media (max-width: 1199px) {
    .section_team .team-item:hover .team-info {
        bottom: 40px
    }
}

.section_team .team-item:hover .social a {
    opacity: 1;
    transform: translate(0);
    pointer-events: auto;
    visibility: visible
}

.section_values {
    padding: 80px 0px;
    background-color: #F9F9F9
}

.section_values .block-title {
    text-align: left
}

.section_values .values-content {
    margin-bottom: 30px
}

@media (max-width: 767px) {
    .section_values .values-inner .mb-3 {
        margin-bottom: 30px
    }
}

.section_values .values-inner .item {
    height: 100%;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.1);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s
}

.section_values .values-inner .item .icon {
    width: 70px;
    height: 70px;
    margin-bottom: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bgColorButton)
}

.section_values .values-inner .item .icon img {
    width: 35px;
    height: 35px
}

.section_values .values-inner .item .content {
    text-align: center
}

.section_values .values-inner .item .content h3 {
    color: var(--textColor);
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 7px
}

.section_values .values-inner .item .content p {
    color: var(--textColor);
    font-size: 16px
}

.about_service {
    position: relative;
    padding: 80px 0px;
    background-image: url(//bizweb.dktcdn.net/100/503/218/themes/931576/assets/background_about_service.jpg?1715747387472);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}

.about_service .bg {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: #0F0F0F;
    opacity: 0.9;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s
}

.about_service .block-title .top-title {
    color: var(--mainColor)
}

.about_service .block-title h2 {
    color: #fff
}

.about_service .block-title h2 a {
    color: #fff
}

.about_service .item {
    box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.1)
}

.about_service .item .image {
    position: relative;
    text-align: center
}

.about_service .item .main {
    padding: 30px;
    text-align: center;
    background-color: #fff
}

.about_service .item .main h3 {
    color: var(--textColor);
    margin-bottom: 14px
}

.about_service .item .main p {
    color: var(--textColor);
    font-size: 14px;
    margin-bottom: 35px
}

.about_service .item .main .ctas {
    text-align: center
}

.about_service .item .main .ctas a.btn-viewmore {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    padding: 15px 35px;
    border: 0;
    display: inline-block;
    text-transform: uppercase;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    z-index: 2;
    background-color: var(--bgColorButton)
}

.about_service .item .main .ctas a.btn-viewmore:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--mainColor);
    z-index: -1;
    -webkit-transform-origin: right top;
    transform-origin: right top;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: transform 0.8s cubic-bezier(1, 0, 0, 1);
    -webkit-transition: -webkit-transform 0.8s cubic-bezier(1, 0, 0, 1);
    transition: -webkit-transform 0.8s cubic-bezier(1, 0, 0, 1);
    transition: transform 0.8s cubic-bezier(1, 0, 0, 1);
    transition: transform 0.8s cubic-bezier(1, 0, 0, 1), -webkit-transform 0.8s cubic-bezier(1, 0, 0, 1);
    vertical-align: top
}

.about_service .item .main .ctas a.btn-viewmore:hover {
    color: #fff
}

.about_service .item .main .ctas a.btn-viewmore:hover:after {
    -webkit-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1
}

.about_service .swiper-pagination {
    position: static;
    margin-top: 30px
}

.section_testimonials {
    padding: 80px 0px;
    position: relative
}

.section_testimonials .block-title {
    text-align: center
}

.section_testimonials .testimonials {
    height: 100%;
    position: relative;
    padding: 30px 30px 50px;
    border: 1px solid #ECECEC;
    border-radius: 5px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15)
}

.section_testimonials .testimonials .icon {
    width: 50px;
    margin: 0px auto;
    margin-bottom: 20px
}

.section_testimonials .testimonials .icon svg {
    width: 50px;
    height: 50px
}

.section_testimonials .testimonials .content {
    color: var(--textColor);
    font-size: 16px;
    margin-bottom: 25px;
    line-height: 24px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    white-space: initial;
    overflow: hidden
}

.section_testimonials .testimonials .info {
    text-align: center;
    margin-bottom: 10px;
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: -95px
}

.section_testimonials .testimonials .info .avatar {
    margin-bottom: 10px
}

.section_testimonials .testimonials .info .avatar img {
    width: 80px;
    height: 80px;
    margin: 0px auto;
    border: 4px solid #fff;
    border-radius: 50%;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15)
}

.section_testimonials .testimonials .info .details-info h5 {
    color: var(--textColor);
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    margin: 0px
}

.section_testimonials .testimonials .info .details-info span {
    color: #626262;
    font-size: 14px
}

.section_testimonials .testimonials-content .testimonials-swiper .swiper-slide {
    margin-bottom: 95px
}

.section_testimonials .swiper-pagination {
    position: static;
    margin-top: 15px
}